body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    transition: background-color 0.3s, color 0.3s;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

h1 {
    color: #333;
    margin-bottom: 30px;
}

.lotto-numbers {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.lotto-ball {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin: 0 10px;
    transition: all 0.3s ease;
}

#generate-btn {
    background-color: #4CAF50;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#generate-btn:hover {
    background-color: #45a049;
}

#theme-toggle-btn {
    background-color: #777;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 10px;
}

#theme-toggle-btn:hover {
    background-color: #555;
}

/* Dark Mode */
body.dark-mode {
    background-color: #121212;
    color: #fff;
}

body.dark-mode .container {
    background-color: #1e1e1e;
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.1);
}

body.dark-mode h1 {
    color: #fff;
}

body.dark-mode .lotto-ball {
    background-color: #333;
    color: #fff;
}

body.dark-mode #generate-btn {
    background-color: #00796b;
}

body.dark-mode #generate-btn:hover {
    background-color: #004d40;
}
